/* Fonts */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Font colours */
q,
.copyright,
.pos-g,
.phon,
.prefix,
.v-gs {
    color: grey;
}

.collo,
.x-gs q::before {
    color: black;
}

/* Font styles */
q,
.pos-g {
    font-style: italic;
}

.collo {
    font-style: normal;
}

/* Font weights */
.collo,
.cl,
.pos,
.seo,
.shcut,
.v-g,
.xrGrp {
    font-weight: bold;
}

/* Display */
.def,
.phonetics,
.pos-g,
.seo,
.xrGrp a {
    display: inline-block;
}

q,
.prefix,
.shcut,
.topic-g,
.xr-gs {
    display: block;
}

/* Other */
span,
q {
    margin-bottom: 10px;
}

.seo {
    font-size: large;
}

.shcut {
    font-size: large;
    margin: 25px 0;
}

/* Styling for external links */
.xrGrp a {
    border: 2px solid #ccc;
    border-radius: 10px; /* Add curved corners */
    color: #1e90ff;
    margin-bottom: 10px;
    padding: 10px 15px;
    text-decoration: none;
}

/* Override styles for .ndv within .def */
.def .xrGrp a {
    border: none !important;
    border-radius: 0 !important;
    color: #1e90ff !important; /* Specify color */
    display: inline !important; /* Revert to default display value */
    padding: 0 !important;
    /* text-decoration: underline !important; Specify text decoration */
}

/* Styling for list items in .x-gs */
.x-gs q::before {
    content: "• "; /* Add bullet point before list items */
}

.xr-gs {
    padding-top: 15px;
}

/* Adding a colon after elements with class .prefix */
.prefix::after {
    content: ":";
}

.prefix {
    text-transform: uppercase;
}

/* Inline display for certain elements */
.sn-g,
.sense-topg {
    display: inline-block;
}

/* Aligning phonetic transcription to the right */
.phonetics {
    float: right;
    cursor: pointer;
}

/* Copyright styling */
.copyright {
    font-size: xx-small;
}

/* Font style when audio is playing */
.audio-playing .phon {
    color: #1e90ff;
}
